body {
    background-image: url(https://img.etimg.com/thumb/msid-65850571,width-300,imgsize-1073798,resizemode-4/code-.jpg);
   
}

h1 {
    font-family: Permanent-Marker;
    color: black;
    text-align: center;
}