body {
	background-color: #42c264;
	background-image: -webkit-linear-gradient(red,green);
	background-image:-chrome-linear-gradient(red,green);
	background-image:-moz-linear-gradient(red,green);
	background-image:-o-linear-gradient(red,green);
	background-image:-ms-linear-gradient(red,green);
  background-image:linear-gradient(red,green);

}

h1 {
    font-family: 'Permanent Marker', cursive;
    color: #f0ffff;
    text-align: center ;
    padding: 50px;
    height: 50%;
    width: 50%;
    margin-top: 100px;
    margin-left: 350px;

}

#navbar {
    float: top-center;
    display: inline-block;
    /* color: #f2f2f2; */
    /* background-color:rgb(63, 58, 58) ; */
    text-align: center;
     /* padding: 100px;  */
    text-decoration: none;
    font-size: 21px;
  } 
/* .navbar-brand {
    font-size: 32px;
    margin-right:50px;

} */
  
  a {
    color: grey;
    line-height: 1.2;
    text-decoration: none;
  }
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  #navbar a.active {
    /* background-color: #4CAF50; */
    color: white;
  }
  #avbar icon{
  
    display: none;
  }

  @keyframes animatedSquare {

    0% {background-colour:red;}
    25% {background-colour:green;}
    50% {background-colour:blue;}
    100% {background-colour:yellow;}
  
  }

  #box {
    width:300px;
    height:300px;
    margin-left: 250px;
    background-color: red;
    animation-name: amimatedSquare;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  
  }


  